*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
#father{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b ";
}

#spacer{
    width: 100%;
    height: 50px;
}
#block{
    display: grid;
    grid-template-areas: "t1 t2 t3 t4 ";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #cdf;
    color: #102;
    text-align: center;
    line-height: 50px;
    z-index: 1000;
}
.t{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif #102;
    border: #000 solid 1px;
    z-index: 100;
}
#t1{
    grid-area: t1;
    background-color: #03a;
    color: #fff;
}
#t2{
    grid-area: t2;
    color: #000;
}
#t3{
    grid-area: t3;
    color: #000;
}
#t4{
    grid-area: t4;
    color: #000;
}
#t5{
    grid-area: t5;
    color: #000;
}
#banner{
    display: flex;
    width: 100%;
    height: 500px;
    border: 3px solid black;
    background-image: linear-gradient( to top, navy,black );
    text-align: center;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 100px;
    
   
}
#preto{
    width: 100%;
    height: 25px;
    background-color: #000;
}

#esquerda{
    background-color: #cdf;
    grid-area: a;
    border: 2px solid black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
    
}
.pers{
    color: #000;
}
.subt{
    text-align:start ;
    font-size: larger;
    
}
.p{
    border: 2px solid black;
    height: 10%;
    color: #000;
}

.pa{
    border: 2px solid black;
    height: 16.6666666667%;
    color: #000;
   
}
.titulo{
    font-size: larger;
}
#logo{
    background-image: linear-gradient( to top, navy,black );
   
    grid-area: b;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    justify-items: flex-start;
}

